<ion-content [fullscreen]="true">
  <app-header title="Settings" />
  <!-- <ion-input [(ngModel)]="serverIp" placeholder="192.168.1.1"></ion-input>
  <ion-button *ngIf="!isLoading() && !isConnected()" expand="block" (click)="connectToServer()">Connect</ion-button> -->
  <div class="p-4">
    <div class="max-w-md mx-auto rounded-lg shadow-md">
      <ion-item lines="none">
        <ion-input [(ngModel)]="serverIp" placeholder="192.168.1.1" class="bg-transparent text-gray-100"></ion-input>
      </ion-item>
      <div class="mt-4 flex justify-end" *ngIf="!isLoading() && !isConnected()">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="connectToServer()">
          Conectar
        </button>
      </div>
    </div>
  </div>
</ion-content>