<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="binds">
      <ion-icon aria-hidden="true" name="chatbubble-outline"></ion-icon>
      <ion-label>Say</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="crosshair">
      <ion-icon aria-hidden="true" name="locate"></ion-icon>
      <ion-label>Crosshair</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="link"></ion-icon>
      <ion-label>Connect</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
